@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation-block {
  animation: rotation 20s linear infinite;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  left: 64px;
  top: 30px;
  position: absolute;
}

.header__title {
  max-width: 730px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin: 0 0 0 64px;
}

.header__subtitle {
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  position: absolute;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity 1s ease;
}

.header__link:hover {
  text-decoration: underline;
  opacity: .5;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  object-fit: cover;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  top: 64px;
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  z-index: 0;
}

.description {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques {
  padding: 100px 0 0 0;
  margin: 0 auto;
  width: 80%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 920px;
}

.cards__item {
  margin: 0 100px 0 0;
  flex-basis: min-content;
}

.cards__item:nth-of-type(3n){
  margin-right: 0;
}

.cards__image {
  margin: 60px 40px 43px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  margin: 16px 0 0 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.video {
  padding: 100px 0 0 0;
  height: 450px;
}

.video__iframes {
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
}

.video__iframe {
  margin-right: 20px;
}

.video__iframe:last-of-type {
  margin-right: 0;
}

.oakley {
  padding: 160px 0 0 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.feynman {
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}

.feynman__title {
  margin: 100px 0 0 0;
  max-width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  top: 50%;
  right: 48px;
  position: absolute;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  opacity: 1;
  transition: opacity .3s ease;
}

.feynman__link:hover {
  text-decoration: underline;
  opacity: .5;
}

.digits {
  margin: 0 auto;
  padding: 100px 0 100px 0;
}

.section-title {
  max-width: 60%;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0;
  list-style: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.khan__container {
  padding-top: 105px;
  margin: 0 auto;
  width: 80%;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  max-width: 790px;
  margin: 50px 0 36px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author{
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 10px 0 38px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  padding-right: 48px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity .3s ease;
}

.khan__buy-link:hover {
  text-decoration: underline;
  opacity: .5;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 0 0 90px 0;
  color: white;
}

.section-title_theme_dark {
  margin-top: 90px;
  z-index: 1;
}

.section-subtitle_theme_dark {
  z-index: 1;
}

.table_theme_dark {
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.table__heading_theme_dark {
  width: 200px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-position-x: center;
  background-size: cover;
  position: absolute;
  right: -210px;
  height: 877px;
  width: 877px;
  z-index: 0;
}

.resources {
  margin: 0 auto;
  padding: 100px 0 217px 0;
}

.resources__logo-zone {
  padding: 80px 0 0 0;
  margin: 0 auto;
  width: 1100px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.resources__link {
  width: 270px;
  height: 38px;
}

.resources__link:hover {
  text-decoration: underline;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  list-style-type: none;
  padding: 0 0 16px 0;
  margin: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  opacity: 1;
  transition: opacity .3s ease;
}

.footer__column-link:hover {
  text-decoration: underline;
  opacity: .5;
}

.footer__social-icon {
  height: 16px;
  max-width: 16px;
  padding-right: 10px;
}
